<div class="container">
  <h2>Create new category</h2>
  <form [formGroup]="categoryForm">
    <div class="element-space">
      <span class="p-float-label">
        <input id="float-input" type="text" pInputText formControlName="name"
               [ngClass]="{ 'ng-invalid ng-dirty': submittedCategoryForm && validateForm.name.errors}">
        <label for="float-input">Category name</label>
      </span>
      <p class="error-msg" *ngIf="submittedCategoryForm && validateForm.name.errors">Category name is required field</p>
    </div>
  </form>
  <button pButton type="button" label="Create" class="p-button-outlined" (click)="createCategory()"></button>
</div>
