<div class="container">
  <h2>Create new Product</h2>
  <form [formGroup]="productForm">
    <div class="element-space">
      <span class="p-float-label">
      <input type="text" pInputText formControlName="name"
             [ngClass]="{ 'ng-invalid ng-dirty': submittedProductForm && validateForm.name.errors}">
      <label>Product name</label>
      </span>
      <p class="error-msg" *ngIf="submittedProductForm && validateForm.name.errors">Product name is required field</p>
    </div>
    <div class="element-space">
      <span class="p-float-label">
      <input type="number" pInputText formControlName="price"
             [ngClass]="{ 'ng-invalid ng-dirty': submittedProductForm && validateForm.price.errors}">
      <label>Product price</label>
      </span>
      <p class="error-msg" *ngIf="submittedProductForm && validateForm.price.errors">Product price is required field</p>
    </div>
    <div class="element-space">
      <span class="p-float-label">
      <input type="text" pInputText formControlName="image"
             [ngClass]="{ 'ng-invalid ng-dirty': submittedProductForm && validateForm.image.errors}">
      <label>Product image(url)</label>
      </span>
      <p class="error-msg" *ngIf="submittedProductForm && validateForm.image.errors?.required">Product image is required field</p>
    </div>
    <div class="element-space">
      <p-dropdown [options]="categories" optionLabel="name" formControlName="category"
                  [ngClass]="{ 'ng-invalid ng-dirty': submittedProductForm && validateForm.category.errors}"></p-dropdown>
      <p class="error-msg" *ngIf="submittedProductForm && validateForm.category.errors">Product category is required field</p>
      <p class="error-msg" *ngIf="submittedProductForm && categoryError">Product category is required field</p>
    </div>
  </form>
  <button pButton type="button" label="Create" class="p-button" (click)="createProduct()"></button>

</div>
