<br>
<button pButton type="button" label="New Product" class="p-button-outlined" routerLink="/products/new"></button>
<br>
<br>
<label>Sort:</label>
<br>
<p-dropdown [options]="categories" optionLabel="name" (click)="sortProducts($event)"></p-dropdown>
<br>
<br>
<p-table [value]="products" responsiveLayout="scroll">
  <ng-template pTemplate="caption">
    <div class="flex align-items-center justify-content-between">
      Products
    </div>
    <button pButton type="button" label="New Product" class="p-button-outlined" routerLink="/products/new"></button> &nbsp;
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th>Name</th>
      <th>Image</th>
      <th>Price</th>
      <th>Category</th>
      <th>Actions</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-product>
    <tr>
      <td>{{product.name}}</td>
      <td><img [src]="product.image" [alt]="product.name" width="100" class="shadow-4" /></td>
      <td>{{product.price | currency:'EUR'}}</td>
      <td>{{product.category}}</td>
      <td>
        <button pButton type="button" label="Edit" class="p-button-outlined" routerLink="/products/edit/{{product.id}}"></button> &nbsp;
        <button pButton type="button" label="Delete" class="p-button-danger p-button-outlined" (click)="deleteProduct(product.id)"></button>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="summary">
    <div class="flex align-items-center justify-content-between">
      In total there are {{products ? products.length : 0 }} products.
    </div>
  </ng-template>
</p-table>



