<label class="label-margin">Sort:</label>
<p-dropdown [options]="categoriesSort" optionLabel="name" (click)="sortProducts($event)"></p-dropdown>
<button pButton type="button" label="New Product" class="p-button-outlined btn-margin" routerLink="/products/new"></button>
<button pButton type="button" label="New Product v2" class="p-button-outlined btn-margin " (click)="openCreateCategoryModal(0)"></button>

<div class="card">
  <p-dataView #dv [value]="products" [paginator]="true" [rows]="6" filterBy="name"
              layout="grid">
    <ng-template let-product pTemplate="gridItem">
      <div class="col-12 md:col-4">
        <div class="product-grid-item card">
          <div class="product-grid-item-top">
            <div>
              <i class="pi pi-tag product-category-icon"></i>
              <span class="product-category">{{product.category}}</span>
            </div>
            <button pButton type="button" label="Delete" class="p-button-danger p-button-outlined" (click)="deleteProduct(product.id)"></button>
          </div>
          <div class="product-grid-item-content">
            <img [src]="product.image" [alt]="product.name"/>
            <div class="product-name">{{product.name}}</div>
          </div>
          <div class="product-grid-item-bottom">
            <span class="product-price">${{product.price}}</span>
            <p-button label="Edit v2" (click)="openCreateCategoryModal(product.id)"></p-button>
            <p-button label="Edit" routerLink="/products/edit/{{product.id}}"></p-button>
          </div>
        </div>
      </div>
    </ng-template>
  </p-dataView>
</div>


<!--modal for creating and editing products-->
<p-dialog header="{{isEditProduct ? 'Edit Product' : 'Create new Product'}}" [(visible)]="display">
    <form [formGroup]="productForm">
      <div class="element-space">
        <span class="p-float-label">
        <input type="text" pInputText formControlName="name"
               [ngClass]="{ 'ng-invalid ng-dirty': submittedProductForm && validateForm.name.errors}">
        <label>Product name</label>
        </span>
        <p class="error-msg" *ngIf="submittedProductForm && validateForm.name.errors">Product name is required field</p>
      </div>
      <div class="element-space">
        <span class="p-float-label">
        <input type="number" pInputText formControlName="price"
               [ngClass]="{ 'ng-invalid ng-dirty': submittedProductForm && validateForm.price.errors}">
        <label>Product price</label>
        </span>
        <p class="error-msg" *ngIf="submittedProductForm && validateForm.price.errors">Product price is required field</p>
      </div>
      <div class="element-space">
        <span class="p-float-label">
        <input type="text" pInputText formControlName="image"
               [ngClass]="{ 'ng-invalid ng-dirty': submittedProductForm && validateForm.image.errors}">
        <label>Product image(url)</label>
        </span>
        <p class="error-msg" *ngIf="submittedProductForm && validateForm.image.errors?.required">Product image is required field</p>
      </div>
      <div class="element-space">
        <p-dropdown [options]="categories" formControlName="category"
                    [ngClass]="{ 'ng-invalid ng-dirty': submittedProductForm && validateForm.category.errors}"></p-dropdown>
        <p class="error-msg" *ngIf="submittedProductForm && validateForm.category.errors">Product category is required field</p></div>
    </form>
    <button *ngIf="isEditProduct" pButton type="button" label="Edit" class="p-button" (click)="editProduct()"></button>
    <button *ngIf="!isEditProduct" pButton type="button" label="Create" class="p-button" (click)="createProduct()"></button>

</p-dialog>



