@import 'primeflex/primeflex.css';

.p-menubar {
  margin-bottom: 15px !important;
}

.element-space {
  margin-bottom: 30px;
}

.error-msg {
  color: red !important;
}

.container {
  padding: 30px;
  width: 20%;
  margin: 0 auto;
  background: #dee2e6;
  border-radius: 8px;

  input {
    width: 100%;
  }

  .p-dropdown {
    width: 100% !important;
  }
}

@media( max-width: 800px) {
  .container {
    width: 95% !important;
  }
}
